/**
 * @file
 * Typography module file
 *
 *
 */

// =============================================================================
// Links
// =============================================================================
a {
	@include links;
}


// =============================================================================
// Lists
// =============================================================================
ul {
	@include no-bullets;
	#main-menu > & {
		@include horizontal-list-container;
		padding-right: 0.625em;
		float: right;
		> li {
			@include horizontal-list-item($tenpx);
			> a {
				text-transform: uppercase;
				font-size: 1.5em;
			}
		}
	}
}


// =============================================================================
// Text
// =============================================================================

/* Some or all of these override the settings in _normalize.scss */

h1 {
	line-height: 1em;
	margin-top: 0;
	margin-bottom: 0.5em;
}
h2 {
	line-height: 1em;
	margin: 1.25em 0 0.5em 0;
}
p, pre {
	margin-top: 1em;
	margin-bottom: 0;
}