/**
 * @file
 * Classes file
 *
 * These classes are usually added in Drupal admin interface
 * using Block Class or Semantic Fields modules and are used often.
 * 
 */

// =============================================================================
// Layout classes
// =============================================================================
 .l-inline > * {
 	display: inline-block;
 }
 .l-stacked > * {
 	display: block;
 }


// =============================================================================
// Drupal classes
// =============================================================================
 
 .header__logo-image {
 	display: inline-block;
 	margin-top: 1.3em;
 	float: left;
 }
 h2.element-invisible {
 	font-size: $fivepx;
 	line-height: $fivepx;
 	margin-top: 0;
 	margin-bottom: 0;
 }