/**
 * @file
 * Variables file
 *
 * These variables are used throughout this /sass directory.
 * The variable values are set for each theme.
 * 
 */

@import "modules/colors/colors";

// =============================================================================
// Number Variables
// =============================================================================

// Size and measurement variables.

$fivepx: 0.313em;
$tenpx: 0.625em;
$block-height: 220px;