/**
 * @file
 * Blocks file
 *
 * 
 */
 @import "compass/layout";

@include sticky-footer(25px, "#view_root", "#view_root_footer", "#view_footer");


.block {
	padding: $tenpx;
	h2 {
		margin-top: 0;
		margin-bottom: $fivepx;
		line-height: 1;
		font-size: 1.7em;
	}
	p {
		margin-top: $fivepx;
		margin-bottom: $fivepx;
	}
}
.third {
	@extend .background;
	@include border-radius(5px);
 	display: block;
 	max-height: $block-height;
 	height: $block-height;
 	img {
 		margin-top: $fivepx;
 		border: 1px solid $border-color;
 	}
	&.middle {
		margin: 0 $tenpx;
	}
}