/**
 * @file
 * Global file
 *
 * These are global settings.
 * 
 */

html {
	background-color: $body-bg-color;
}
body {
 	min-height: 750px;
 	color: $text-color;
 	background:url("http://www.capitalokc.com/sites/default/files/sawimage1.png") no-repeat center top;

}
body.section-services,
body.section-contact {
	background:url("http://www.capitalokc.com/sites/default/files/servicesbkg.png") no-repeat center top;

}
body.page-galleries,
body.node-type-gallery {
	background:url("http://www.capitalokc.com/sites/default/files/gallerybkg.png") no-repeat center top;
}

body #skip-link {
	margin: 0;
}